.modal-header{
    background-color: #F1F3F4;
}
.title-imp{
    color:red;
    font-weight: bold;
    font-size: 20px;
}
.exit{
    font-size: 18px;
}
.modal-features.on{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.45);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    top:0;
    left: 0;
}
.modal{
    display: none;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    width: 500px;
    height: 65%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color:black;
    border-radius: 10px;
    animation: scaleUp 0.6s ease;
    overflow-y: hidden;
}

.modal-features .infor-event{
    display: block;
    animation: none;
    width: 70%;
    height: 75%;
}
.modal-features .infor-user{
    display: block;
    animation: none;
    width: 50%;
    min-width: 400px;
    max-width: 1000px;
    height: 75%;
}

.modal-features .chart-event{
    display: block;
    animation: none;
    width: 80%;
    min-width: 900px;
    min-height: 650px;
    height: 90%;
}
.modal-features .dataWareHouse-event{
    display: block;
    border-radius:0px;
    color: black;
    animation: none;
    width: 100%;
    height: 100%;
}
.dataWareHouse-event .modal-body{
    overflow: hidden;
}
 
.dataWareHouse-event .data-container{
    width: 100%;
    height: calc(100% - 50px);
    border: 2px solid black;
   
}
.data-container .wareHouse-top{
    height: 25%;
    border-bottom: 2px solid black;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.data-container .wareHouse-top input[type="radio"] {
    cursor: pointer;
  }

.data-container .wareHouse-bottom{
    height: 80%;
}
.wareHouse-bottom .tools{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    border-bottom: 1px solid  rgb(0 0 0 / 54%);
    box-shadow: 0px 12px 8px -15px #111; 

}

.wareHouse-bottom .tools > div{
    margin: 0px 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding:5px;
    cursor: pointer;

}
.wareHouse-bottom .tools >div>span{
    margin-left: 5px;
}
.wareHouse-bottom .tools path{
    stroke-width: 2px !important;
}
.tool.active-tool{
    background-color: red;
}

.wareHouse-bottom .tools >div:hover{
    background-color: var(--color-item-hover);
}
.tool.active-tool:hover{
    background-color: red!important;
}
.wareHouse-bottom .data-main{
    overflow-y: scroll;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
}  
.wareHouse-bottom .data-main .data-list{
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    background-color: rgb(248 157 157 / 35%);
    border-bottom:1px solid black ;
 
    padding-right: 50px;
    border-right:1px solid black ;
}
.wareHouse-bottom .data-main .data-list.active-list{
    background-color: rgb(228 0 0 / 35%);
}
.wareHouse-bottom .data-main .data-list .data-des{
    text-align: center;
    width: 33%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 20px;
}
.data-main .data-list .del-list{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
    right: 20px;
}
.data-main .data-list .select-list{
    position: absolute;
    top:35%;
    transform: scale(1.8);

    cursor: pointer;
    left: 20px;
    width: 10px;
}
.modal-features .chart-event .modal-body{
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: flex-start;
}
.modal-features .update-event{
    display: block;
    animation: none;
    width: 500px;
    height: 65%;
}
.modal-features .sure-event{
    display: block;
    animation: none;
    width: 35%;
    min-height:280px;
    height: 30%;
}
.sure-event .modal-footer{
    justify-content: space-between;
    align-items: center;
    
}
.modal-features .sure-event .modal-body{
    height: 100px;
}
.modal-features .modal-header{
    cursor:default;
}
.modal-header{
    justify-content:flex-end;
    padding:20px;
    cursor:move;
}

.modal-body{
    padding: 20px;
    overflow-y: scroll;
    height: calc(100% - 65px);
}
.event-title{
    height: 40px;
    outline: none;
    font-size: 20px;
    border:transparent;
    width: 100%;
    overflow: scroll;
    font-weight: bold;
    padding:10px;
    border-bottom: 2px solid #0d6efd;
}
.clock{
    margin-right: 20px;
}
.thu-ngay-thang{
    pointer-events: none;
    margin-right: 20px;
}
.event-time{
    font-size: 18px;
}
.minus{
    margin:0 5px 0 5px;
    padding: 5px;
}
.event{
    margin-bottom:20px;
}
.op:hover{
    background-color: var(--color-item-hover);
}
.op{
    padding:5px;
    border-radius: 5px;
}
#description-form{

    width: 90%;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    outline: none;
    padding:10px;
    font-size:16px ;
}
.btn-container{
    position: relative;
    left: 50%;
    height: 50px;
    width: 100px;
    transform: translateX(-50%);
}
@keyframes scaleUp{
    0%{
        transform: scale(0)  translate(-100%,-100%);
        left:-20px;
        top:-40px;
    
    }
    100%{
        transform: scale(1) translate(-50%,-50%) ;
    

    }
}


.thoi-gian{
    position: relative;
}
.timing-table{
    display: none;
    z-index: 100;
    background-color: #fff;
    width: 100px;
    position:absolute;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-y: scroll;
    left: 50px;
}
.timing-table ul li{
    cursor: pointer;
    text-align: center;
    
    
}
.timing-table ul li:hover{
    text-decoration: underline;
}
