:root{
    --color-text-default:#836368;
    --color-border-primary:rgb(218,220,224);
    --color-black:#000;
    --color-white:#fff;
    --color-item-hover:#c1c1c1;
    /* --color-bg-container */
    --color-main:#f3661a;
    --color-user:#8c7bfb;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color :var(--color-text-default) ;
    overflow: hidden;
}
header{
    padding: 10px;
    border-bottom: var(--color-text-default) 1px solid;
    height: 70px;
}
ul{
    list-style-type: none;
    padding-left: 0;
}
.logo-img{
    width: 50px;
}
.h5{
    margin-bottom: 0;
}
.item-margin-lr-10{
    margin: 0 10px 0 10px;
}
.item-margin-lr-30-10{
    margin: 0 10px 0 30px;
}
.item-margin-r-10{
    margin: 0 10px 0 0;
}
.item-margin-r-20{
    margin: 0 20px 0 0;
}
.item-margin-l-10{
    margin: 0 0 0 10px;
}
.item-margin-l-30{
    margin: 0 0 0 30px;
}
.item-margin-lr-30{
    margin: 0 30px 0 30px;

}
.item-margin-l-50{
    margin: 0 0 0 50px;

}
.item-margin-lr-50-10{
    margin: 0 10px 0 50px;

}
.w-50px{
    width: 50px;
}
.text-size-md{
    font-size: 25px;  
}
.text-size-md-sm-500{
    font-size: 20px;
    font-weight: 500;
}
.cursor-pointer{
    cursor: pointer;
}
.cursor-default{
    cursor: default;
}
.btn-outline-primary{
    --bs-btn-hover-bg: var(--color-white) ;
    --bs-btn-hover-color: var(--color-black) ;
    --bs-btn-hover-border-color:  var(--color-border-primary);
    --bs-btn-active-color: var(--color-black);
    --bs-btn-active-bg: var(--color-white);
    --bs-btn-active-border-color:var(--color-border-primary);
    border:1px solid var(--color-border-primary) ;
    color: var(--color-black) ;
    font-weight: 500;
}
.text-color-black{
    color:var(--color-black)
}
.size-100{
    width: 100px;
}
.item-hover{
    padding:5px;
}
.item-hover:hover{
    border-radius:10px ;
    background-color: var(--color-item-hover);
}
.active{
    border-radius: 50%;
}
.main{
    height: calc(100vh - 70px);
    width: 100vw;
}
.slide-bar-content{
    transition: all 0.5s ease;
}
.trans{
    transition: all 0.5s ease;
}
.slide-bar-close{
    padding-right: 0;
}
.col-270 {
    width: 270px;
}
.trans-05-ease-w-0{
    width: 0%;
}
.trans-05-ease-l{
    transition: all 0.3s ease;
    transform: translateX(-250px);
}
.trans-05-ease-r{
    transition: all 0.3s ease;
    transform: translateX(0);
}
.trans-btn-05-ease-l{
    transition: all 0.3s ease;
    transform: translateX(-125%) !important;
}
.trans-btn-05-ease-r{
    transition: all 0.3s ease;
    left: 50%;
}
.popup-container{
    width: 120px;
    background-color: var(--color-white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    top:50px;
    left: 0%;
    color: var(--color-black);
    padding-top:10px;
    z-index: 3;
    animation: scalePopUp 0.4s ease;
    transform-origin: top center;

}
@keyframes scalePopUp{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.popup-container ul li{
    cursor: pointer;
    padding: 5px 0 5px 0;
    text-align:center;
    transition: all 0.25s;
}
.popup-container ul .viewing{
    background-color: var(--color-item-hover);
    pointer-events: none;
}
.popup-container ul li:last-child{
    margin-bottom: 0px;
}
.popup-container ul li:hover{
    background-color: var(--color-item-hover);
}
.calendar-table{
    padding-top: 20px;
}
.tabL{
    animation: toLeft 0.25s ;
}
.table__date{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 100px;
    width: 45px;
    height: 45px;
    font-size: 28px;
    font-weight: 500;
}
.weekdays_days .weekdays{
    font-size: 12px;
    font-weight: 600;
}
.weekdays_days .item{
    text-align: center;
    color: var(--color-black);
    border-radius: 50%;
}
.weekdays_days .days{
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 28px;
    font-weight: 500;
    color: var(--color-black);
}
.weekdays_days{
    position: relative;

}
.weekdays_days .table__thu{
    position: absolute;
    width: 45px;
    left: 110px;
    top:-20px;
    font-weight: bold;
    font-size: 14px;
} 
.today{
    background-color: #1A73E8 !important;
    color:var(--color-white) !important;
}

.btn-create{
    position: relative;
    left: 50%;
    height: 50px;
    width: 100px;
    transform: translateX(-50%);
    margin-top: 20px;
}
.calendar-table-body{
    overflow-y: scroll;
    display: flex;
    height: calc(100vh - 150px);
    width: 100%;
    padding-top: 15px;
}
.col-time{
    display: flex;
    width: 60px;
    flex-direction: column;
    position: relative;
    font-size: 12px;
}
.col-time span{
    margin-bottom:32px ;
    text-align: right;
}
.time-table{
    position: relative;
    width: 100%;
}
.line{
    pointer-events: none;
    cursor: default !important;
    width: 100%;
    height: 30px;
    border-top:1px solid var(--color-border-primary);
    margin-bottom: 20px;
    margin-left: 5px;
}
.line:first-child{
    margin-top: 10px;
}
.line-vertical{
    transform: rotate(180deg);
    z-index: 2;
    position: absolute;
    border-left:1px solid var(--color-border-primary);
    border-bottom:0px transparent ;
    margin: 0;
    width: 0;
    height: 1195px;
    top:-25px;
    left:75px;
}
.popupTime{
    color:white;
    font-size: 14px;
    overflow:hidden ;
    margin-top: 10px;
    margin-left: 21px;
    padding:5px 0 5px 10px;
    border-radius: 10px;
    width: 98%;
    background-color: var(--color-user);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.popupTime > span{
  
    text-overflow: ellipsis;
    overflow: hidden;
}

.row_{
    margin-left: 75px;
    align-items: center;
}
.week_render{
    margin-bottom:0;
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrap-week{
    width: 14%;
    position: relative;

}
.lv{
    top:61px;
    left:0px;
}
.d-flex-table {
    display: flex;
    flex:none;
    height: 20px
}
.table{
    color:black;
    /* border: 1px solid var(--color-text-default); */
    height: calc(100% - 40px);
    flex-direction: column;
}
.f-1-1{
    flex: 1 1 0% !important;
}

.table-day{
    flex: 1;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
    border:1px solid var(--color-text-default) ;
    border-top:transparent ;
    font-weight: 500;
}

.table-day:not(:last-child){
    border-right:transparent ;
    
}
.table-weekday:not(:last-child){
    border-right:transparent ;

}
.table>:not(caption)>*>* {
    padding: 0;
    margin-top: 10px;
    background-color: white;
    border-bottom-width: 0px;
}
.table-weekday{
    flex: 1;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border:1px solid var(--color-text-default) ;
    
}

.pd-0{
    padding: 0!important;
}
.mg-0{
    margin: 0!important;

}
.headerPopupTimes{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}
.color-request{
    display: flex;
    flex: 1;
    flex-direction: column;
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: inherit;
    margin: 0 !important;
    z-index: -1;
}
/* ---------------------custom scrollbar--------------------- */
/* width */
.calendar-table-body::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}
  
/* Track */
.calendar-table-body::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
   
  /* Handle */
.calendar-table-body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; 
}
.calendar-table-body::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 10px;
}
/* ----------------------------keyframes------------------------------ */
@keyframes toLeft{
    0%{
        transform: translateX(30px);
    }
    100%{
        transform: translateX(0px);
    }
}
