:root {
  --color-text-default: #836368;
  --color-border-primary: rgb(218, 220, 224);
  --color-black: #000;
  --color-white: #fff;
  --color-item-hover: #c1c1c1;
  --color-container: #021c43;
  --color-main: #f3661a;
  --color-user: #8c7bfb;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ---------------------custom scrollbar--------------------- */
/* width */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;

  border-radius: 8px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;

  border-radius: 8px;
}
body {
  color: var(--color-text-default);
  overflow: hidden;
}
header {
  padding: 10px;
  border-bottom: var(--color-text-default) 1px solid;
  height: 70px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.logo-img {
  width: 50px;
}
.b-flex {
  display: flex;
}
.h5 {
  margin-bottom: 0;
}
.text-bold {
  font-weight: bold;
}
.fwb {
  font-weight: bold;
}
.item-margin-lr-10 {
  margin: 0 10px 0 10px;
}
.item-margin-lr-30-10 {
  margin: 0 10px 0 30px;
}
.item-margin-r-10 {
  margin: 0 10px 0 0;
}
.item-margin-r-20 {
  margin: 0 20px 0 0;
}
.item-margin-l-10 {
  margin: 0 0 0 10px;
}
.item-margin-l-30 {
  margin: 0 0 0 30px;
}
.item-margin-lr-30 {
  margin: 0 30px 0 30px;
}
.item-margin-lr-30-10 {
  margin: 0 10px 0 30px;
}
.item-margin-l-50 {
  margin: 0 0 0 50px;
}
.item-margin-lr-50-10 {
  margin: 0 10px 0 50px;
}
.pd-10 {
  padding: 10px;
}
.w-50px {
  width: 50px;
}
.text-size-md {
  font-size: 25px;
}
.text-size-md-sm-500 {
  font-size: 20px;
  font-weight: 500;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}
.btn-outline-primary {
  --bs-btn-hover-bg: var(--color-white);
  --bs-btn-hover-color: var(--color-black);
  --bs-btn-hover-border-color: var(--color-border-primary);
  --bs-btn-active-color: var(--color-black);
  --bs-btn-active-bg: var(--color-white);
  --bs-btn-active-border-color: var(--color-border-primary);
  border: 1px solid var(--color-border-primary);
  color: var(--color-black);
  font-weight: 500;
}
.text-color-black {
  color: var(--color-black);
}
.size-100 {
  width: 100px;
}
.item-hover {
  padding: 5px;
}
.item-hover:hover {
  border-radius: 10px;
  background-color: var(--color-item-hover);
}
.active {
  border-radius: 50%;
}
.main {
  height: calc(100vh - 70px);
  width: 100vw;
  position: relative;
}
.slide-bar-content {
  transition: all 0.5s ease;
}
.trans {
  transition: all 0.5s ease;
}
.slide-bar-close {
  padding-right: 0;
}
.col-270 {
  width: 270px;
}
.trans-05-ease-w-0 {
  width: 0%;
}
.trans-05-ease-l {
  transition: all 0.3s ease;
  transform: translateX(-250px) !important;
}
.trans-05-ease-r {
  transition: all 0.3s ease;
  transform: translateX(0);
}
.trans-btn-05-ease-l {
  transition: all 0.3s ease;
  transform: translateX(-125%) !important;
}
.trans-btn-05-ease-r {
  transition: all 0.3s ease;
  left: 50%;
}
.popup-container {
  width: 120px;
  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  top: 50px;
  left: 0%;
  color: var(--color-black);
  padding-top: 10px;
  z-index: 3;
  animation: scalePopUp 0.4s ease;
  transform-origin: top center;
}
@keyframes scalePopUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.popup-container ul li {
  cursor: pointer;
  padding: 5px 0 5px 0;
  text-align: center;
  transition: all 0.25s;
}
.popup-container ul .viewing {
  background-color: var(--color-item-hover);
  pointer-events: none;
}
.popup-container ul li:last-child {
  margin-bottom: 0px;
}
.popup-container ul li:hover {
  background-color: var(--color-item-hover);
}
.calendar-table {
  padding-top: 20px;
}
.tabL {
  animation: toLeft 0.25s;
  margin-bottom: 5px;
}
.table__date {
  margin-left: 100px;
  width: 45px;
  height: 45px;
  font-size: 28px;
  font-weight: 500;
}
.table-day:has(.dayInNowMonth):hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.weekdays_days .weekdays {
  font-size: 12px;
  font-weight: 600;
}
.weekdays_days .item {
  text-align: center;
  color: var(--color-black);
  border-radius: 50%;
}
.weekdays_days .days {
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin-top: 5px;

  font-size: 28px;
  font-weight: 500;
  color: var(--color-black);
}
.weekdays_days {
  position: relative;
}
.weekdays_days .table__thu {
  position: absolute;
  width: 45px;
  left: 110px;
  top: -20px;
  font-weight: bold;
  font-size: 14px;
}
.today {
  background-color: #1a73e8 !important;
  color: var(--color-white) !important;
}
.account img:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.account {
  position: relative;
}
.btn-create {
  position: relative;
  left: 50%;
  height: 50px;
  width: 100px;
  transform: translateX(-50%);
  margin-top: 20px;
}
.bodyPopupTimes {
  width: 90%;
  height: calc(100% - 18px);
  text-overflow: ellipsis;
  overflow: hidden;
}
.calendar-table-body {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  height: calc(100vh - 150px);
  width: 100%;
  padding-top: 15px;
  scroll-behavior: smooth;
}
.col-time {
  display: flex;
  width: 60px;
  flex-direction: column;
  position: relative;
  font-size: 12px;
}
.col-time span {
  margin-bottom: 32px;
  text-align: right;
}
.time-table {
  position: relative;
  width: 100%;
}
.line {
  pointer-events: none;
  cursor: default !important;
  width: 100%;
  height: 30px;
  border-top: 1px solid var(--color-border-primary);
  margin-bottom: 20px;
  margin-left: 5px;
}
.line:first-child {
  margin-top: 10px;
}
.line-vertical {
  transform: rotate(180deg);
  z-index: 2;
  position: absolute;
  border-left: 1px solid var(--color-border-primary);
  border-bottom: 0px transparent;
  margin: 0;
  width: 0;
  height: 1195px;
  top: -25px;
  left: 75px;
}
.popupTime {
  color: white;
  font-size: 14px;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 21px;
  padding: 5px 0 5px 10px;
  border-radius: 10px;
  width: 98%;
  background-color: var(--color-user);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.popupTime > span {
  text-overflow: ellipsis;
  overflow: hidden;
}

.row_ {
  margin-left: 75px;
  align-items: center;
}
.week_render {
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap-week {
  width: 14%;
  position: relative;
}
.lv {
  top: 61px;
  left: 0px;
}
.d-flex-table {
  display: flex;
  flex: none;
  height: 20px;
}
.table {
  color: black;
  /* border: 1px solid var(--color-text-default); */
  height: calc(100% - 40px);
  flex-direction: column;
}
.f-1-1 {
  flex: 1 1 0% !important;
}

.table-day {
  flex: 1;
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid var(--color-text-default);
  border-top: transparent;
  font-weight: 500;
}

.table-day:not(:last-child) {
  border-right: transparent;
}
.table-weekday:not(:last-child) {
  border-right: transparent;
}
.table > :not(caption) > * > * {
  padding: 0;
  margin-top: 10px;
  background-color: white;
  border-bottom-width: 0px;
}
.table-weekday {
  flex: 1;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid var(--color-text-default);
}
.userInfor {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#accout-infor {
  display: none;
  background: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 350px;
  height: 500px;
  padding: 20px;
  position: absolute;
  top: 55px;
  left: -280px;
  z-index: 1000;
}
.feature {
  border-radius: 10px;
  font-size: 16px;
}
.feature-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature-flex.username-app {
  justify-content: flex-start;
}
.feature:hover {
  background-color: #e4e4e5;
}
.btn-signOut:hover {
  background-color: #e4e4e5 !important;
}
.pd-0 {
  padding: 0 !important;
}
.mg-0 {
  margin: 0 !important;
}
.headerPopupTimes {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}
.color-request {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: inherit;
  margin: 0 !important;
  z-index: -1;
}
.fullCalendar-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: calc(100vh - 150px);
  overflow-y: scroll;
  overflow-x: auto;
  margin: 0px auto;
  margin-top: 10px;
  max-width: 1200px;
  min-width: 500px;
  width: 100%;
}
#avt-preview {
  border: 1px solid black;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin-left: 10px;
}
.all-user {
  border-radius: 5px;
  width: 100%;
  height: calc(100vh - 460px);
  margin-bottom: 15px;
  overflow-y: scroll;
  padding: 5px;
}
.all-user .all-user_avt {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}
.all-user .all-user_name {
  font-size: 14px;
  text-align: center;
  color: black;
  font-weight: 500;
  margin-left: 10px;
}
.loading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
  z-index: 10000;
  position: fixed;
}
.main-load {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.main-load .progress {
  width: 300px;
  border: 1px solid var(--color-container);
  height: 25px;
}
.main-load .progress .progress-bar {
  background-color: var(--color-container);
}
.main-load #sub-progress {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-container);
}
.loading .rote-main {
  width: 600px;
  height: 600px;
}
.loading .rote-bg {
  width: 70vw;
  height: 70vw;
  min-width: 1000px;
  min-height: 1000px;
  background-color: var(--color-container);
  position: fixed;
  top: -30%;
  left: -40%;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  animation: rote-bg 10s linear infinite;
}
.loading .img-bg {
  background: url("https://ik.imagekit.io/TLIT/iot-soup_xOh-My6B0.png");
  width: 400px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  background-position: center;
  background-size: 90%;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}
.row-loading {
  display: none;
  position: fixed;
  width: 100vw;
  height: 5px;
  background-color: #c1c1c1;
  z-index: 10000000;
  top: 0;
  left: 0;
}
.row-loading .span-loading {
  position: fixed;
  z-index: 10000000;
  top: 0;
  left: 0;
  width: 300px;
  height: 5px;
  background-color: var(--color-container);
  animation: load 2s linear infinite;
}
.repairPopUp-container {
  display: flex;
  position: absolute;
  right: 25px;
  top: 10px;
}
.header-year {
  text-align: center;
  font-size: 20px;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  max-width: 1000px;
  min-width: 500px;
  width: 100%;
}
.repair-item {
  padding: 5px;
  border-radius: 10px;
  transition: all 0.25s;
}
.repair-item:hover {
  background-color: rgba(106, 106, 106, 0.5);
}
.repair-item:hover path {
  stroke: rgb(235, 234, 234);
}
#filterContainer {
  margin-top: 10px;
  width: 100%;
}
#filterContainer form > *:not(:first-child) {
  margin-left: 10px;
}
#filterContainer form > input {
  border: 1px solid black;
  padding: 3px;
  border-radius: 5px;
  outline: none;
  width: 100px;
}

#filter {
  border: 1px solid black;
  padding: 3px;
  border-radius: 5px;
  outline: none;
}
.input-simple {
  font-size: 16px;
  line-height: 1.5;
  border: none;
  background: #ffffff;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23838D99' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 20px 20px;
  border: 1px solid #c5cbd5;
  width: 300px;
  padding: 0.5em 1em 0.5em 2.5em;
}

.input-simple::placeholder {
  color: #838d99;
}
.wrap-content {
  overflow-y: auto;
  padding: 10px;
  padding-left: 15px;
}
.wrap-content > * {
  margin-bottom: 10px;
}
.input-simple:focus {
  outline: none;
  border: 1px solid #84a2fa;
}

#filterForm {
  display: flex;
  align-items: center;
}
#filterForm input {
  height: 30px;
}

.select-list {
  display: none;
}
.button-chat_ct {
  position: absolute;
  z-index: 500;
  bottom: 30px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
  background-color: #fff;
}
.button-chat_ct.act{
  background-color: #80b5fb;

}
.button-chat_ct.act svg path{
  stroke:#fff !important;
}
.chat-container {
  position: absolute;
  z-index: 500;
  bottom: 0;
  right: 150px;
  width: 350px;
  height: 400px;
  border-radius: 10px 10px 0 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
  display: none;
  flex-direction: column;
  transition: transform 0.5s;

}
.chat-container.collapsed{
  transform: translateY(340px);
}
.chat-box {
  height: 60px;
  align-items: center;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.chat-main {
  flex: 1;
  overflow: hidden auto;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}
.space-c {
  height: 100%;
}
.chat-me {
  display: flex;
  color: #fff;
}
.me {
  background-color: #80b5fb;
}
#space {
  flex: 1;
}
.chat-other {
  display: flex;
  flex-direction: row-reverse;

  color: #000;
}
.other {
  background-color: #fff;
}
.chat-item {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 7px;
  padding: 5px 8px;
  margin-bottom: 4px;
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;
  max-width: 200px;
}
.chat-head {
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  position: relative;
  align-items: center;
}
#btnSend {
  cursor: pointer;
  width: 40px;
  display: flex;
  align-self: center;
  justify-content: center;
}
#btnSend.act svg {
  fill: #80b5fb;
}
#btnSend.act svg path {
  stroke: #80b5fb !important;
}
#btnSend {
  fill: none;
}
.chat-avt {
  width: 45px;
  height: 45px;
}
#btnSend * {
  transition: all 0s;
}

#btnSend:hover svg {
  fill: #80b5fb;
}
#btnSend:hover svg path {
  stroke: #80b5fb !important;
}
.chat-box input {
  flex: 1;
  border: none;
  background-color: #f1f1f1;
  border-radius: 30px;
  outline: none;
  padding: 5px 10px;
}
.chat-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}
.chat-name > strong {
  color: #000;
}
.chat-name > span {
  font-size: 12px;
}
.chat-name > span #dot {
  color: #007ffe;
}
.loader {
  width: 15px;
  height: 15px;
  border: 3px solid #007ffe;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
#load-ct{
  display: none;
  justify-content: flex-end;
}
.icon-df{
  border:1px solid black;
  border-radius: 5px;
  display: inline-flex;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.2;
  
}
.icon-df:hover{
  background-color: #838d99;

}
.f-chat{
  position: absolute;
  top:50%;
  transform: translateY(-10px);
  right: 15px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ---------------------custom private scrollbar--------------------- */
/* width */
.all-user::-webkit-scrollbar {
  border-radius: 5px;
}
.all-user::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
.all-user::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
.all-user::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
}
.calendar-table-body::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
.calendar-table-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.calendar-table-body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.calendar-table-body::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
}
/* ----------------------------keyframes------------------------------ */
@keyframes toLeft {
  0% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes load {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(100vw);
  }
}
@keyframes rote-bg {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center;
  }
}
/* ------------------------------------dotanimations-------------------------------- */
.loader-demo-box {
  border-radius: 0.25rem !important;
}

.loader-demo-box {
  width: 100%;
  height: 200px;
}

.jumping-dots-loader {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

.jumping-dots-loader span {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: var(--color-container);
}

.jumping-dots-loader span:nth-child(1) {
  animation: bounce 0.6s ease-in-out infinite;
}
.jumping-dots-loader span:nth-child(2) {
  animation: bounce 0.6s ease-in-out 0.2s infinite;
}

.jumping-dots-loader span:nth-child(3) {
  animation: bounce 0.6s ease-in-out 0.4s infinite;
}

@keyframes bounce {
  0%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
